.layoutSidebar{
    width: 275px!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-sidebar);
    border: 1px solid var(--color-border-sidebar);
    transition: transform 0.3s ease-out;

}

@media (max-width: 75em){
    .layoutSidebar {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.sidebarLogo{
    padding: 32px 0px 25px 40px;
}

.sidebarContent{
    flex: 1;
}

.sidebarLogoImg{
    width: 62.5%;
}

.sidebarLink{
    display: block;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-item-sidebar);
    display: flex;
    align-items: center;
}

@media (max-width: 56.25em){
    .sidebarLink {
        font-size: 2.5rem;
        font-size: 400;
    }
}

.sidebarLinkActive{
    display: block;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-item-selected-sidebar);
    background-color: var(--color-white);
    box-shadow: 0 0 5px 0.5px var(--color-border-sidebar);
    display: flex;
    align-items: center;
    transition: all .5s;
}


@media (max-width: 56.25em){
    .sidebarLinkActive {
        font-size: 2.5rem;
        font-size: 400;
    }
}


.Icon{
    width: 17.5px;
    height: 17.5px;
    margin-right: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.footerText{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-toggle-button);
}