.layoutContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding: 0px 3.5rem;
    background-color: var(--color-background-content);
}

@media (max-width: 75em){
    .layoutContent{
      align-items: center;
      height: 100vh;
    }
}

@media (max-width: 37.5em){
    .layoutContent{
      padding: 0 1rem;
    }
}

.contentMain{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.contentMainHeadline{
    width: 75%;
    margin: 3.5rem 0rem;
    text-align: center;
}

.contentMainHeadlineText{
    font-size: 4rem;
    color: #7B8C92;
    font-weight: 700;
}

.contentMainPlaceholder{
    margin-bottom: 16px;
}

.contentPlaceholderImg{
    width: 30rem;
    height: 30rem;
}

.drawerLogo{
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 1rem;
    margin-top: 3rem;
    overflow: hidden;
    cursor: pointer;
    align-self: flex-start;
}

@media (min-width: 75em){
    .drawerLogo{
        display: none;
    }
}

.contentHeadingText{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-heading-text);
    margin: 3rem 0rem;
}

@media (max-width: 75em){
    .contentHeadingText{
        text-align: center;
        width: 85%;
    }
}

.Bold{
    color: var(--color-item-sidebar);
    font-weight: 700;
}

.contentMainGraph{
    background-color: var(--color-white);
    width: 75%;
    height: 45rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
}

@media (max-width: 75em){
    .GraphContainer{
        width: 90%;
    }
}

@media (max-width: 75em){
    .contentMainGraph{
        width: 100%;
        height: 100%;
        padding: 5rem 0;
    }
}

.articlesHeadingText{
    text-transform: uppercase;
    color: var(--color-heading-text);
    font-weight: 700;
    font-size: 2rem;
}
