.layoutContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 3.5rem;
    background-color: var(--color-background-content);
}

.contentSearch{
    position: relative;
    margin-top: 3rem;
}

.searchInput{
    display: inline-block;
    margin-right: 4rem;
    width: 50%;
    border: none;
    border-radius: .5rem;
    font-family: inherit;
    font-size: 2rem;
    color: black;
}

.CarouselContainer{
    width: 75rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}

.CarouselContainer ul{
    display: flex!important;
    width: 75rem;
}


.CarouselList{
    width: 100%!important;
    display: flex;
}

.CarouselItem{
    width: 75rem!important;
    list-style: none;
}

.searchInput:focus{
    outline: none;
    box-shadow: 0 0 .5rem 0.05rem var(--color-item-selected-sidebar);
}

.searchInput::placeholder{
    font-size:2rem;
    color: var(--color-border-sidebar);
    letter-spacing: 0.05rem;
}

.searchButton{
    background-color: var(--color-item-selected-sidebar);
    border: .2rem solid transparent;
    border-radius: 2.6rem;
    padding: 1.5rem 4.5rem;
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px var(--color-item-selected-sidebar);
}

.searchButton:hover{
    background-color: var(--color-white);
    color: var(--color-item-selected-sidebar);
    border: .2rem solid var(--color-border-sidebar);
    box-shadow: 0 0 .5rem 0.05rem var(--color-border-sidebar);
}

.searchButton:focus{
    outline: none;
}

.contentMain{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.contentMainHeadline{
    width: 75%;
    margin: 3.5rem 0rem;
    text-align: center;
}

.contentHeadingText{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-heading-text);
    margin: 3rem 0rem;
}

.LightBold{
    color: var(--color-item-selected-sidebar);
    font-weight: 700;
}

.Bold{
    color: var(--color-item-sidebar);
    font-weight: 700;
}

.contentMainHeadlineText{
    font-size: 4rem;
    color: #7B8C92;
    font-weight: 700;
}

.contentPlaceholderImg{
    width: 30rem;
    height: 30rem;
}

.contentMainArticles{
    width: 75rem;
    height: 25rem;
    margin: 3rem 0;
    background-color: var(--color-white);
    border: .2rem solid var(--color-border-sidebar);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentContainer{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imageContainer{
    width: 25rem;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
}

.title{
    display: block;
    padding: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-item-sidebar);
}

.ByLine{
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    color: var(--color-item-selected-sidebar);
}

.abstract{
    width: 75%;
    padding: 1rem;
    display: block;
    margin-bottom: auto;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-heading-text);
}

.link{
    display: inline-block;
    background-color: var(--color-toggle-button);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--color-border-sidebar);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--color-white);
}


