.layoutContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 3.5rem;
    background-color: var(--color-background-content);
}

@media (max-width: 75em){
    .layoutContent{
      align-items: center;
    }
}

@media (max-width: 37.5em){
    .layoutContent{
      padding: 0 1.5rem;
    }
}

.contentHeadingText{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-heading-text);
    margin: 3rem 0rem;
}

@media (max-width: 75em){
    .contentHeadingText{
      text-align: center;
    }
}


.contentMainArticles{
    margin-bottom: 3rem;
    background-color: var(--color-white);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
    padding: 1.5rem;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentImage{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid var(--color-border-sidebar);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
}

.contentText{
    flex: 1;
    padding: 1rem;
    display: flex;
}

.TextContainer{
    width: 75%;
}

@media (max-width: 56.2em){
    .TextContainer{
      width: 100%;
      padding: 0rem;
    }
}

.IconContainer{
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 56.2em){
    .IconContainer{
        display: none;
    }
}

.ImageContainer{
    background-color: var(--color-border-sidebar);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-sidebar);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
}

.ImageContainer:hover, 
.ImageContainer:visited
{
    background-color: var(--color-item-selected-sidebar);
    cursor: pointer;
}

.Image{
    width: 1.75rem;
    height: 1.75rem;
    margin: .5rem;
}

.title{
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-item-selected-sidebar);
}

.byLine{
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-item-sidebar);
}

.date{
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-item-sidebar);
}

.abstract{
    width: 75%;
    margin-top: 1rem;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-heading-text);
}

@media (max-width: 56.25em){
    .abstract{
      width: 100%;
    }
}
  
.Bold{
    color: var(--color-item-sidebar);
    font-weight: 700;
}

.contentMainHeadline{
    width: 75%;
    margin: 3.5rem 0rem;
    text-align: center;
}

.contentMainHeadlineText{
    font-size: 4rem;
    color: #7B8C92;
    font-weight: 700;
}

.contentMainPlaceholder{
    margin-bottom: 16px;

}

.contentPlaceholderImg{
    width: 42.5rem;
    height: 36rem;
}

.ButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.searchButton{
    background-color: var(--color-item-selected-sidebar);
    border:  .2rem solid var(--color-item-selected-sidebar);
    border-radius: 2.6rem;
    padding: 1.5rem 4.5rem;
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px var(--color-item-selected-sidebar);
}

.searchButton:hover{
    background-color: var(--color-white);
    color: var(--color-item-selected-sidebar);
    border: .2rem solid var(--color-border-sidebar);
    box-shadow: 0 0 .5rem 0.05rem var(--color-border-sidebar);
}

.searchButton:focus{
    outline: none;
}

.mobileLink{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    color: var(--color-white);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
    background-color: var(--color-item-selected-sidebar);
}

@media (min-width: 56.2em){
    .mobileLink{
        display: none;
    }
}

