.layoutContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding: 0px 3.5rem;
    background-color: var(--color-background-content);
}

/*Main Content*/
.contentSearch{
    position: relative;
    margin-top: 3rem;
    width: 100%;
}

.contentMain{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.searchInput{
    margin-right: 4rem;
    padding: 1.9rem 0rem 2rem 4rem;
    width: 50%;
    border: none;
    border-radius: .5rem;
    font-family: inherit;
    font-size: 2rem;
    color: black;
    box-shadow: 0 0 .5rem 0.05rem var(--color-border-sidebar);
}

@media (max-width: 56.2em){
    .searchInput{
        width: 85%;
    }
}

.searchInput:focus{
    outline: none;
    box-shadow: 0 0 .5rem 0.05rem var(--color-item-selected-sidebar);
}

.searchInput::placeholder{
    font-size:2rem;
    color: var(--color-border-sidebar);
    letter-spacing: 0.05rem;
}

.searchInputLogo{
    position: absolute;
    top: 2rem;
    left: 1.7rem;
}

.searchButton{
    background-color: var(--color-item-selected-sidebar);
    border: none;
    border-radius: 2.6rem;
    padding: 1.5rem 4.5rem;
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px var(--color-item-selected-sidebar);
}

@media (max-width: 56.2em){
    .searchButton{
        display: none;
    }
}

.searchButton:hover{
    background-color: var(--color-white);
    color: var(--color-item-selected-sidebar);
    border: .2rem solid var(--color-border-sidebar);
    box-shadow: 0 0 .5rem 0.05rem var(--color-border-sidebar);
}

.searchButton:focus{
    outline: none;
}

.contentHeadingText{
    font-size: 2.4rem;
    color: var(--color-heading-text);
    margin: 3rem 0rem;
}

/*Articles Section*/
.contentMainArticles{
    margin-bottom: 3rem;
    width: 100%;
    height: 45rem;
    background-color: var(--color-white);
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contentMainHeadline{
    width: 75%;
    margin: 3.5rem 0rem;
    text-align: center;
}

.contentMainHeadlineText{
    font-size: 4rem;
    color: #7B8C92;
    font-weight: 700;
}


.articlesHeading{
    padding: 3rem 0rem 0rem 4rem;
}

.articlesHeadingText{
    text-transform: uppercase;
    color: var(--color-heading-text);
    font-weight: 700;
    font-size: 2rem;
}

.articlesColumnHeading{
    width: 100%;
    margin-top: 2.5rem;
    padding-left: 4rem;  
    display: flex;
    justify-content: start;
}

.articlesColumnHeadings{
    color: var(--color-heading-text);
    font-size: 1.4rem;
}

.headingDate{
    width: 12.5rem;
}

.headingHeadline{
    width: 20rem;
}

.headingSummary{
    width: 25rem;
}

.headingUrl{
    width: 25rem;
}

.headingSource{
    margin-right: 5rem;
}

.greyed{
    background-color: var(--color--background-selected-sidebar);
}

.articlesColumn{
    border-top: 1px solid var(--color-border-sidebar);
    padding: 1.5rem 4rem 1.5rem 4rem;
    display: flex;
    justify-content:start;
}

.articlesColumns{
    width: 12.5rem;
    font-size: 1.2rem;
    color: var(--color-heading-text);
}

.columnsHeadline{
    width: 20rem;
    padding-right: 1rem;
}

.columnsSummary{
    width: 25rem;
    padding-right: 1rem;
}

.columnsUrl{
    width: 25rem;
    padding-right: 1rem;
}

.columnsUrlLink{
    width: 25rem;
    color: var(--color-item-selected-sidebar);
    overflow-wrap: break-word;
}

.columnsSource{
    width: 10rem;
}

.contentToggle{
    display: flex;
    justify-content: space-between;
}

.contentToggleList{
    display: flex;
    list-style: none;
}

.contentToggleItem{
    margin-right: .25rem;
    font-size: 1.2rem;
    color: var(--color-toggle-button);
    font-family: inherit;
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    padding: .2rem .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.contentToggleText{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-item-sidebar);
}

.contentToggleItem:hover{
    background-color: var(--color-item-selected-sidebar);
    color: var(--color-white);
    padding: .2rem .5rem;
    transition: all .5s;
}

.selectedItem{
    background-color: var(--color-item-selected-sidebar);
    color: var(--color-white);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: .2rem .6rem;
}

.contentMainPlaceholder{
    margin-bottom: 16px;
}

.contentPlaceholderImg{
    width: 30rem;
    height: 30rem;
}

.contentMainGraph{
    background-color: var(--color-white);
    height: 45rem;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    border-radius: .8rem;
    box-shadow: .2rem .8rem 1.9rem var(--color-shadaow);
}

.drawerLogo{
    width: 3.5rem;
    height: 3.5rem; 
    margin-top: 30px;
    overflow: hidden;
    flex:start;
    cursor: pointer;
}

@media (min-width: 75em){
    .drawerLogo{
        display: none;
    }
}

.formStyling{
    width: 100%;
    display: flex;
}

@media (max-width: 56.2em){
    .formStyling{
        margin-left: 1rem;
    }
}
