:root {
  --color-background-content: #f3f5f6;
  --color-background-sidebar: #f6f8f8;

  --color-border-sidebar: #dedede;
  --color-item-sidebar: #434d71;
  --color--background-selected-sidebar: #f8fafb;
  --color-item-selected-sidebar: #4ca2ff;
  --color-toggle-button: #33558b;

  --color-heading-text: #7b8c92;
  --color-shadaow: #b4b8bc29;

  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 47.5%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
